@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
       url("../fonts/ptsans-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2"),
       url("../fonts/ptsans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  background-color: #F2F2F2;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* Основное содержимое сайта */
.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Кнопки */
.button,
.button-more,
.button-selected {
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;

  border-radius: 4px;
  cursor: pointer;
}

.button {
  background-color: #756157;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-more {
  background-color: #82B3D3;
}

.button-more:hover,
.button-more:focus {
  background-color: #68A2CA;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-selected {
  background-color: #7DB54F;
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6C9E42;
}

.button-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button-more:disabled,
.button-selected:disabled {
  border-color: #E5E5E5;
}
/* Навигация */
.navigation {
  position: relative;
  display: grid;
  grid-template-columns: 139px repeat(2, 1fr);
  column-gap: 30px;
  padding: 0 70px;
  margin-bottom: -1px;
  z-index: 5;
}

.logo {
  display: block;
  grid-column: 1 /2;
  margin-bottom: -15px;
}

.logo img {
  display: block;
}

.navigation-list {
  grid-column: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 17px;

  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 19px 0;

  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-item + .navigation-item {
  margin-left: 34px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-link-current:hover,
.navigation-link-current:focus,
.navigation-link-current:active {
  color: inherit;
  cursor: default;
}

.navigation-user {
  grid-column: 3 / 4;
  justify-content: end;
  margin-left: auto;
  padding: 0;
}

.navigation-user .navigation-item {
  margin-left: 0;
}

.navigation-user .navigation-link {
  position: relative;
  padding: 0;
  width: 42px;
  height: 65px;
}

.navigation-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: #000000;
}

.navigation-link:hover .navigation-icon,
.navigation-link:focus .navigation-icon {
  fill: #756157;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-link-favourite {
  position: relative;
}

.navigation-link-favourite::before {
  position: absolute;
  content: "12";
  top: 15px;
  left: 24px;
  z-index: 2;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding-top: 2.5px;

  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: -0.1em;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;

  border-radius: 10px;
  background-color: #7DB54F;
}

.navigation-item-button {
  display: block;
  box-sizing: border-box;
  min-width: 160px;
  min-height: 37px;
  margin-top: 14px;
  margin-left: 20px;
  padding: 8px 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
/* Баннер */
.banner {
  padding-top: 51px;
  padding-bottom: 82px;

  background-image: url("../images/divider.svg"), url("../images/backgrounds/background-banner.jpg"), linear-gradient(0deg, rgb(130, 179, 211), rgb(255, 255, 255));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center center, center center;
  background-size: 100% auto, cover, cover;
}

.banner-image {
  display: block;
  margin: 0 auto;
}
/* Заголовок и описание секций */
.section-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  margin-top: 31px;

  text-align: center;
  color: #333333;
}

.section-title-other {
  color:#FFFFFF;
}

.section-description-other {
  color:#FFFFFF;
}
/* Секция список преимуществ */
.advantages {
  padding-top: 63px;
}

.advantages-list,
.advantages-unit,
.advantages-figure,
.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-list {
  margin-top: 90px;
  counter-reset: number;
}

.advantages-item {
  flex: 1 0 30%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-column: 1 / -1;
  gap: 30px;
  min-height: 384px;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.advantages-image {
  flex: 1 0 60%;
}

.icon {
  display: block;
  padding-top: 183px;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: top 80px center;
}

.icon-house {
  background-image: url("../images/icons/advantage-house.svg");
}

.icon-hamburger {
  background-image: url("../images/icons/advantage-hamburger.svg");
}

.icon-gift {
  background-image: url("../images/icons/advantage-gift.svg");
}

.advantages-number::before {
  display: block;
  margin: 0;

  counter-increment: number;
  content: "— №" counter(number) " —";
  grid-row: 2 / 3;
}

/* Оформление списка преимуществ*/
.advantages-item-basic {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-more {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-extra {
  background-color: rgba(131, 179, 211, 0.12);
}
/* Типографика списка преимуществ */
.advantages-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
}

.advantages-description,
.advantages-number {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  white-space: pre-line;
}

.icon .advantages-description {
  margin-top: 30px;
}
/* Поиск гостиницы */
.hotel-search {
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search .section-description {
  margin-top: 29px;
}

.hotel-search-button {
  display: block;
  box-sizing: border-box;
  width: 574px;
  min-height: 60px;
  margin: 0 auto;
  margin-top: 56px;
  padding: 12px 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
/* Подписка */
.subscribe {
  padding: 94px 0;
}

.subscribe .section-description {
  margin-top: 29px;
}

.subscribe-background {
  background-image: url("../images/backgrounds/background-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.subscribe-form .field {
  display: flex;
  box-sizing: border-box;
  min-width: 600px;
  height: 60px;
  padding: 20px 22px 19px;

  border: none;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6)
}

.subscribe-button {
  display: block;
  box-sizing: border-box;
  min-width: 200px;
  height: 60px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  border: none;
  border-radius: 0 10px 10px 0;
}
/* Подвал */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
}

.social {
  width: 142px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-button {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  fill: #83B3D3;
}

.social-button:hover .social-icon,
.social-button:focus .social-icon {
  fill: #68A2CA;
}

.social-button:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-number {
  margin: 0;
  padding: 0;
}

.phone-number-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.phone-number-link:hover,
.phone-number-link:focus {
  color: #756157;
}

.phone-number-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.site {
  width: 115px;
  margin: 0;
  padding: 0;
}

.html-academy-logo {
  fill: #000000;
}

.site-link:hover .html-academy-logo,
.site-link:focus .html-academy-logo {
  fill: #756157;
}

.site-link:active .html-academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}
/* Хедер Каталога */
.inner-header {
  padding: 35px 70px 70px;

  background-color: #82B3D3;
  background-image: url("../images/backgrounds/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
/* Хлебные крошки */
.breadcrumbs-list {
  display: flex;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.breadcrumbs-item::after {
  position: absolute;
  left: 22px;
  width: 6px;
  height: 9px;

  content: "";
  background-image: url("../images/icons/arrow-right.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-current:hover,
.breadcrumbs-link-current:active {
  color: inherit;
  cursor: default;
}

.breadcrumbs-main {
  fill: #fff;
}

.breadcrumbs-link:hover .breadcrumbs-main {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active .breadcrumbs-main {
  fill: rgba(255, 255, 255, 0.3);
}
/* Фильтр */
.catalog-filter {
  display: flex;
  margin-top: 40px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

 .catalog-filter-infrastructure {
   width: 151px;
   margin-right: 70px;
 }

 .catalog-filter-accommodation {
  width: 146px;
  margin-right: 176px;
 }

 .catalog-filter-price {
   width: 288px;
 }

.catalog-filter-title {
  padding: 0;

  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-item + .catalog-filter-item {
  margin-top: 15px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.catalog-filter-submit {
  width: 161px;
  height: 48px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

  border: none;
}

.catalog-filter-reset {
  padding: 0;
  padding-top: 20px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* Сортировка и результаты поиска */
.catalog-hotels {
  padding: 50px 71px 25px 73px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
}

.catalog-hotels-subtitle {
  margin: 0;
  margin-right: 191px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control-sorting {
  width: 290px;
  height: 49px;
}

.select-control option {
  padding: 14px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.switcher-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 160px;
}

.button-switcher {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-switcher-active {
  border-color: #000000;
}

.button-switcher:nth-child(3n) {
  margin-right: 0;
}

.button-switcher-table {
  background: url('../images/icons/view-table.svg') no-repeat center;
}

.button-switcher-slideshow {
  background: url('../images/icons/view-slideshow.svg') no-repeat center;
}
.button-switcher-list {
  background: url('../images/icons/view-list.svg') no-repeat center;
}
/* Карточки отелей */
.hotel-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  padding: 61px 0;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.hotel-card-image {
  display: block;
  object-fit: contain;
}

.hotel-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 16px;
}

.hotel-card-rating {
  margin-left: auto;
  display: block;
  box-sizing: border-box;
  min-width: 140px;
  padding: 9px 15px 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  background: #F2F2F2;
  border-radius: 4px;
}

.hotel-card-about,
.hotel-card-favourite {
  display: block;
  box-sizing: border-box;
  min-width: 140px;
  padding: 9px 15px 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-card-link .hotel-card-title {
  margin: 0;
  margin-top: 16px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card-text,
.hotel-card-price {
  display: block;
  min-width: 140px;

  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
/* Блок Пагинация */
.pagination-wrapper {
  display: flex;
  /* margin-top: 61px; */
  padding-top: 30px;

  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 270px;

  list-style-type: none;
}

.pagination-item {
  color: #FFFFFF;

  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item-current {
  color:#000000;
  background-color: #F2F2F2;
}

.pagination-link {
  display: block;
  box-sizing:border-box;
  width: 60px;
  height: 60px;
  padding: 12px 0;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.card-amount {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select-control-amount {
  margin-left: auto;
}
